# Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user
defined string.
To define a dictionary, equate a variable to { } or dict()

In [20]:
d1 = {}
d2 = dict()

print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it’s own index style.

In [21]:
d1['Name'] = 'Talha'
d1['Age'] = 21
d1

{'Name': 'Talha', 'Age': 21}

That is how a dictionary looks like. Now you are able to access ‘Talha’ by the index value set at ‘Name’

In [22]:
d1['Name']

'Talha'

## Built-in Methods

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [1]:
d1.keys()

NameError: name 'd1' is not defined

**values( )** function returns a list with all the assigned values in the dictionary

In [24]:
d1.values()

dict_values(['Talha', 21])

**items( )** is returns a list containing both the list but each element in the dictionary is inside a Tuple

In [25]:
d1.items()

dict_items([('Name', 'Talha'), ('Age', 21)])

**pop( )** function is used to get the remove that particular element and this removed element can be
assigned to a new variable. But remember only the value is stored and not the key. Because the is just a
index value.

In [26]:
popvalue = d1.pop('Age')
print(d1)
print(popvalue)

{'Name': 'Talha'}
21

**clear( )** function is used to erase the entire database that was created.

In [28]:
d1.clear()
d1

{}