# List

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square
brackets and data are separated by a comma. Each of these data can be accessed by calling it’s index value
        
       Lists are declared by just equating a variable to ‘[ ]’ or list.

In [86]:
lst = []

print(type(lst))

<class 'list'>

Directly assign the sequence of data to a list

In [87]:
lst = ["Pen" , "Papper" , "Ink" ]

print(lst)

['Pen', 'Papper', 'Ink']

you can store any type of data in list

In [88]:
lst2 = ["Talha" , 21 , 5.11]
lst2

['Talha', 21, 5.11]

when you add two list is return concentenation of list

In [89]:
lst + lst2

['Pen', 'Papper', 'Ink', 'Talha', 21, 5.11]

we can also make a nested list

In [90]:
lst3 = [lst , lst2]
lst3

[['Pen', 'Papper', 'Ink'], ['Talha', 21, 5.11]]

## Indexing

In python, Indexing starts from 0. Thus now the list , which has three elements will have Pen at 0 index
, Pen at 1 index and Ink at 2 index

In [91]:
print(lst[0])
print(lst[1])
print(lst[2])

Pen
Papper
Ink

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing
starts from -1. Thus index value -1 will be Ink , index -2 will be Papper and index -3 will be Pen.

In [92]:
print(lst[-1])
print(lst[-2])
print(lst[-3])

Ink
Papper
Pen

Indexing of Nested List

In [93]:
print(lst3[0])
print(lst3[1])

['Pen', 'Papper', 'Ink']
['Talha', 21, 5.11]

if you want to access first element of first list

In [94]:
print(lst3[0][0])

Pen

if you want to access first element of second list

In [95]:
print(lst3[1][0])

Talha

## Slicing
Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of
data inside the list. In other words “slicing” the list 

Slicing is done by defining the index values of the first element and the last element from the parent list
that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the
parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not
defined and the last value for b when b is not defined.

In [96]:
number = [0,1,2,3,4,5,6,7,8,9]

if you want to print first 4 number then

In [97]:
print(number[0:4])

[0, 1, 2, 3]

you can see 0 index is inclusive and 4 index is exclusive it's mean it's upto 4-1 index

it's also can be done with this

In [98]:
print(number[:4])

[0, 1, 2, 3]

if you want to print all number except first 4 number then

In [99]:
print(number[4:])

[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [100]:
print(number[:9:3])

[0, 3, 6]

as you can see it's step difference of 3

you can also print reversed

In [101]:
print(number[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Built in List Functions

To find the length of the list or the number of elements in a list, len( ) is used.

In [102]:
len(number)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum
value in the list.

In [103]:
min(number)

0

In [104]:
max(number)

9

There might arise a requirement where you might need to check if a particular element is there in a
predefined list. Consider the below list

In [105]:
names = ['Earth','Air','Fire','Water']

To check if ‘Fire’ and ‘Rajath’ is present in the list names. A conventional approach would be to use a
for loop and iterate over the list and use the if condition. But in python you can use ‘a in b’ concept which
would return ‘True’ if a is present in b and ‘False’ if not.

In [106]:
'Earth' in names

True

In [107]:
'Iron' in names

False

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element
whose ASCII value is the highest and the lowest when min( ) is used. Note that only the first index of
each element is considered each time and if they value is the same then second index considered so on and
so forth.

In [108]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [109]:
max(mlist)

'z'

In [110]:
min(mlist)

'az'

Here the first index of each element is considered and thus z has the highest ASCII value thus it is
returned and minimum ASCII is a. But what if numbers are declared as strings?

In [111]:
nlist = ['1','94','93','1000']

In [112]:
min(nlist)

'1'

In [113]:
max(nlist)

'94'

Even if the numbers are declared in a string the first index of each element is considered and the maximum
and minimum values are returned accordingly.
But if you want to find the max( ) string element based on the length of the string then another
parameter ‘key=len’ is declared inside the max( ) and min( ) function.

In [114]:
max(names , key=len)

'Earth'

In [115]:
min(names , key=len)

'Air'

But even ‘Water’ has length 5. max() or min() function returns the first element when there are two
or more elements with the same length.

**Del()** is used to delete the value of particular index

In [130]:
del nlist[1]
nlist

['1', '1000']

**len()** function is used to print the lenght of the list

In [132]:
len(nlist)

2

### Built in List Methods

Let's Make a list and All methods apply to that list

In [116]:
newlist = [2,3,1,43,46,1,75]

**append( )** is used to add a element at the end of the list.

In [117]:
newlist.append(32)
newlist

[2, 3, 1, 43, 46, 1, 75, 32]

**count( )** is used to count the number of a particular element that is present in the list.

In [118]:
newlist.count(1)

2

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list
becomes a nested list

In [119]:
newlist2 = [3,2,1,4]
newlist.append(newlist2)
newlist

[2, 3, 1, 43, 46, 1, 75, 32, [3, 2, 1, 4]]

But if nested list is not what is desired then ****extend( )** function can be used.

In [120]:
newlist.extend(newlist2)
newlist

[2, 3, 1, 43, 46, 1, 75, 32, [3, 2, 1, 4], 3, 2, 1, 4]

**clear()** funtion is used to clear the data of list

In [121]:
newlist.clear()
newlist

[]

In [122]:
newlist = [2,3,1,43,46,1,75]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements
of the same value then the first index value of that element is returned.

In [123]:
newlist.index(43)

3

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only
possible to insert at the end.

In [124]:
newlist.insert(3,50)
newlist

[2, 3, 1, 50, 43, 46, 1, 75]

Note :**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element
you simply assign the value to that particular index.

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it
wouldn’t be wrong to tell that lists can be used as a stack.

In [125]:
newlist.pop()
newlist

[2, 3, 1, 50, 43, 46, 1]

Index value can be specified to pop a ceratin element corresponding to that index value.

In [126]:
newlist.pop(3)
newlist

[2, 3, 1, 43, 46, 1]

**pop( )** is used to remove element based on it’s index value which can be assigned to a variable. One can
also remove element by specifying the element itself using the **remove( )** function.

In [127]:
newlist.remove(46)
newlist

[2, 3, 1, 43, 1]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [134]:
newlist.reverse()
newlist

[2, 3, 1, 43, 1]

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [136]:
newlist.sort()
newlist

[1, 1, 2, 3, 43]

In [137]:
newlist.sort(reverse=True)
newlist

[43, 3, 2, 1, 1]

#### Copying a List
Most of the new python programmers commit this mistake. Consider the following

In [138]:
lista =[1,2,3,4,5]

listb = lista

listb

[1, 2, 3, 4, 5]

Here, We have declared a list, lista = [1,2,3,4,5]. This list is copied to listb by assigning it’s value and it,
get’s copied as seen. Now we perform some random operations on lista.

In [140]:
lista.pop()
lista.append(18)
lista

[1, 2, 3, 4, 18]

In [141]:
listb

[1, 2, 3, 4, 18]

listb has also changed though no operation has been performed on it. This is because you have assigned
the same memory space of lista to listb. So how do fix this?
If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a
and end index b and if a and b is not mentioned then by default it considers the first and last element. We
use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [143]:
lista = [2,1,4,3]

In [146]:
listb = lista[:]
listb

[2, 1, 4, 3]

In [147]:
lista.append(32)
lista

[2, 1, 4, 3, 32]

In [148]:
listb

[2, 1, 4, 3]

The Builtin method **Copy()** can also be use in this case

In [149]:
lista = [2,1,4,3]

In [152]:
listb = lista.copy()
listb

[2, 1, 4, 3]

In [153]:
lista.pop()
lista

[2, 1, 4]

In [154]:
listb

[2, 1, 4, 3]