# Strings

Strings are ordered text based data which are represented by enclosing the same in single/double/triple
quotes.

In [68]:
s1 = 'My Name is Talha'
s2 = "My Name is Talha"
s3 = '''My Name 
is Talha'''

print(type(s1))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'str'>

In [69]:
print(s1)
print(s2)
print(s3)

My Name is Talha
My Name is Talha
My Name
is Talha

String Indexing and Slicing are similar to Lists which was explained in detail earlier.

In [70]:
s1[3]

'N'

In [71]:
s1[-1]

'a'

In [72]:
s1[11:]

'Talha'

## Concetenation Of Strings

when Two string add is called Concetenation of Strings

In [106]:
s1 = "Pakistan "
s2 = "Zindabad"
s1 + s2

'Pakistan Zindabad'

## Built-in Methods

In [73]:
s1 = 'My Name is Talha'

**find( )** function returns the index value of the given data that is to found in the string. If it is not found it
returns -1. Remember to not confuse the returned -1 for reverse indexing value

In [74]:
s1.find('Talha')

11

In [75]:
s1.find('Hamza')

-1

**capitalize( )** is used to capitalize the first element in the string.

In [76]:
s1.capitalize()

'My name is talha'

**center( )** is used to center align the string by specifying the field width

In [77]:
s1.center(50)

'                 My Name is Talha                 '

One can also fill the left out spaces with any other character.

In [78]:
s1.center(50,'*')

'*****************My Name is Talha*****************'

**zfill( )** is used for zero padding by specifying the field width

In [79]:
s1.zfill(20)

'0000My Name is Talha'

**expandtabs( )** allows you to change the spacing of the tab character.  which is by default set to 8
spaces.

In [80]:
s = 'T\ta\tl\th\ta'

In [81]:
s.expandtabs()

'T       a       l       h       a'

we can control space by give arguments as much as we want space

In [82]:
s.expandtabs(3)

'T  a  l  h  a'

**index( )** works the same way as **find( )** function the only difference is find returns ‘-1’ when the input
element is not found in the string but **index( )** function throws a ValueError

In [83]:
s1.index('Talha')

11

In [84]:
s1.index(Hamza)

NameError: name 'Hamza' is not defined

endswith( ) function is used to check if the given string ends with the particular char which is given as
input

In [85]:
s1.endswith('a')

True

**count( )** function counts the number of char in the given string.

In [86]:
s1.count('a')

3

**join( )** function is used add a char in between the elements of the input string

In [87]:
s1.join('*_*')

'*My Name is Talha_My Name is Talha*'

**split( )** function is used to convert a string back to a list. Think of it as the opposite of the join()
function.

In [88]:
s1.split('*')

['My Name is Talha']

**lower( )** converts any capital letter to small letter.

In [89]:
s1.lower()

'my name is talha'

**upper( )** converts any small letter to capital letter

In [90]:
s1.upper()

'MY NAME IS TALHA'

**replace( )** function replaces the element with another element

In [93]:
s1.replace('Talha' , 'Talha Safdar')

'My Name is Talha Safdar'

**strip( )** function is used to delete elements from the right end and the left end which is not required

In [96]:
a = "   Hello     "
a

'   Hello     '

In [97]:
a.strip()

'Hello'

**strip( )** function, when a char is specified then it deletes that char if it is present in the two ends of the
specified string

In [98]:
b = '***hello***'
b

'***hello***'

In [99]:
b.strip('*')

'hello'

**lstrip( ) and rstrip( )** function have the same functionality as strip function but the only difference is
lstrip( ) deletes only towards the left side and rstrip( ) towards the right.

In [101]:
b = '***hello***'

In [102]:
b.lstrip('*')

'hello***'

In [104]:
b.rstrip('*')

'***hello'