# Tuple

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple
it cannot be changed.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [2]:
tup = ()
tup2 = tuple()
print(type(tup))
print(type(tup2))

<class 'tuple'>
<class 'tuple'>

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [4]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice

In [5]:
2 * (27,)

(27, 27)

In [8]:
tup1 = (1,2,3,1,1)

It follows the same indexing and slicing as Lists.

In [10]:
tup1[2]

3

In [11]:
tup1[:2]

(1, 2)

Tuple is immutalbe Its mean its element cannot be change it i Try to change its give me error

In [15]:
tup1[3] = 2

TypeError: 'tuple' object does not support item assignment

## Mapping one tuple to another

In [20]:
a , b ,c ,d  =  ('Sin','Cos','Tan','Cot')

print(a,b,c,d)

Sin Cos Tan Cot

## Builtin Methods of Tuple

In [13]:
tup1.count(1)

1

In [14]:
tup1.index(3)

2